/* body {
  display: flex;
  width: 1300px;
  flex-wrap: wrap;
  gap: 10px;
  margin: auto;
}

div {
  width: 300px;
  padding: 10px;
  background-color: #eee;
  border-radius: 10px;
}

h1, p {
  color: grey;
} */


/* div {
  background-color: red;
} */

